
.box {
  width: 100%; 
  display: flex; 
  justify-content: space-between;

  .logicDiagrams{
    width: 150px;
    ul{
      padding: 0 10px;
    }
    li{
      margin: 10px 0;
      padding: 5px 3px;
      list-style: none;
      border: 1px #565454 solid;
    }
  }
}
#myPaletteDiv{
  width: 200px;
  margin-right: 2px; 
  background-color: whitesmoke; 
  border: solid 1px black;
}

#myDiagramDiv{
  width: 60%;
  height: 600px;
  border: 1px #666 solid;
  flex-grow: 1
}